@tailwind base;
@tailwind components;
@tailwind utilities;


.flex.items-center > .svg-container {
    flex-shrink: 0;
    display: inline-block;
}

.flex.items-center > .svg-container:not(:last-child) {
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .flex.items-center.flex-wrap {
        flex-direction: column;
    }

    .flex.items-center > .svg-container:not(:last-child) {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
